body {
  font-family: "Montserrat", sans-serif;
  background-color: #d8dfe8;
}

header {
  padding: 40px 40px;
}

.input-area input {
  font-size: 30px;
  font-weight: bold;
  margin-top: auto;
  border: 0;
  background-color: #d8dfe8;
  background-origin: padding-box;
  color: #0a3871;
  outline: none;
}

::placeholder {
  color: #0a3871;
}
